# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config IIS3WDB
	bool "IIS3WDB Vibration Sensor"
	default y
	depends on DT_HAS_ST_IIS3WDB_ENABLED
	select SPI
	help
	  Enable IIS3WDB Vibration Sensor
